<a href="https://colab.research.google.com/github/pachecomejia/unidad_3Final/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importaciones utilizadas en esta prueba para que funcione

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String 
from sqlalchemy import insert, select, update, delete

creacion de la base de datos

In [2]:
engine = create_engine('sqlite:///clientes.db')

In [3]:
metadata = MetaData()

In [4]:
clientes = Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String, nullable= False),
    Column('email', String, nullable= False)

)

In [5]:
print(type(clientes))

<class 'sqlalchemy.sql.schema.Table'>

In [6]:
metadata.create_all(engine)

primera insertacion simple

In [7]:
stmt = insert(clientes).values(nombre="cliente 1",email="cliente1@email.com")
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

In [8]:
with engine.connect() as conn: 
  result = conn.execute(stmt)

creacion de mas insertaciones

In [9]:
data = [
    {"nombre": "Cliente 2", "email":"cliente2@email.com"},
    {"nombre": "Cliente 3", "email":"cliente3@email.com"},
    {"nombre": "Cliente 4", "email":"cliente4@email.com"},


]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

se realiza el select a las datos ingresados

In [11]:
stmt = select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [12]:
with engine.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
      print(row)

(1, 'cliente 1', 'cliente1@email.com')
(2, 'Cliente 2', 'cliente2@email.com')
(3, 'Cliente 3', 'cliente3@email.com')
(4, 'Cliente 4', 'cliente4@email.com')